@font-face {
    font-family: 'GE Dinar Two';
    src: url('GEDinarTwo-Medium.woff2') format('woff2'),
        url('GEDinarTwo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-prim: #eb1e77;
    --color-sec: #3d3d3d;

    --trasnition-period: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: GE Dinar Two, 'sans serif';
}

/* Nav */

nav {
    background-color: #eb1e77;
}

nav > a {
    display: flex;
    justify-content: center;
}

.nav_logo {
    width: 12rem;
    padding: 12px;
}

/* Hero */

.hero {
    background: url(./assets/hero_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.hero_content {
    padding: 240px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

.hero_content p {
    margin-bottom: 20px;
}

.btn {
    padding: 5px 10px;
    background-color: #fff;
    color: var(--color-sec);
    border-radius: 5px;
    cursor: pointer;
    transition: color var(--trasnition-period),
        background-color var(--trasnition-period);
}

.btn:hover {
    background-color: var(--color-prim);
    color: #fff;
    transition: color var(--trasnition-period),
        background-color var(--trasnition-period);
}

/* Section 1 */

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bc_img {
    width: 32rem;
}

.what_is_bc p {
    font-size: 1.5rem;
    text-align: end;
}

.what_is_bc h1 {
    color: var(--color-prim);
    text-align: end;
    margin-bottom: 20px;
}
